h1{
    text-align: center;
    color: #F2F2F2;
}

/*h2{
    color: #F2F2F2;;
}*/

.text-icon{
    background-color: #F2F2F2;
    padding-top: 10%;
    padding-left: 15%;
}


html,body{
    background-color: #F2F2F2;
}

#col-one{
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 1.5em;
}

textarea{
    border: 1px solid #fff;
    background-color: #fff;
}